<!DOCTYPE html>
<html>
    <head>
        <title>新聞標題</title>
        <style>
            body {
                background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <h1>google新聞標題列表</h1>
        {% for i in news_list %}
        <p>
        <h2 class="title">
            
            <div>
                <a href="{{i.url}}"> {{i.title}}
                    </a>
            </div>

        </h2>
        
            <div>
                {{i.content}}
            </div>
        
        </p>
            {% endfor %}
        
        
        <em>{{ current_time }}</em>
    </body>
</html>