<!DOCTYPE html>
<html>
    <head>
        <title>新聞標題</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <h1>google新聞標題列表</h1>
        <h2 class="title">
            {% for i in title %}
            <div>
            {{i}}
            </div>
            {% endfor %}
        </h2>

        <em>{{ current_time }}</em>
    </body>
</html>